/* dashboard styles */

div.toptile {
        border: 1px solid white;
        border-radius: 4px;
        padding: 5px;
        margin: 5px;
        background-color: grey;
        text-align: center;
      }
      
div.footer {
  margin: 20px 5px 5px 5px;
  font-size: 0.9em;
  /*border: 1px solid yellow; */
}